@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Orbitron:wght@400..900&family=Syncopate:wght@400;700&family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: max-content;
    /* background-color: #101010; */
    background: linear-gradient(135deg, #3b0a45 0%, #6a1b9a 50%, #1a0026 100%);
}  
header{
    width: 90%;
    padding: 10px 100px;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5px;
}
header .logo{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
}
header nav{
    /* background-color: rgba(0, 0, 0, 0.267); */
    padding: 5px 30px;
    border-radius: 30px;
    /* background: rgba(255, 255, 255, 0.078); */
}
header nav ul {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #a7c5eb, #9c4e97, #8c6bcf);
    -webkit-background-clip: text;
}
header nav ul li{
    font-family: "Audiowide", sans-serif;
    list-style-type: none;
    padding: 5px 25px;
    margin: 0px 5px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: transparent;
}
header .settings{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.032);
    backdrop-filter: blur(10px);
    border-radius: 50%;
}
header .settings i{
    color: white;
    font-size: 1.3rem;
}
/* From Uiverse.io by Cevorob */ 
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    transform: scale(0.6);
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
main .section1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    padding-left: 100px;
}
/* main .section1 div{
    padding: 30px;
    width: max-content;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.174);
    border-radius: 10px;
} */
main .section1 h1{
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    /* text-shadow: 2px 2px 5px black, -4px -4px 5px black; */
    background: linear-gradient(to right, #a7c5eb, #c2e9fb, #ffafbd);
    display: inline;
    color: transparent;
    -webkit-background-clip: text;
}
main .section1 p{
    color: white;
    font-family: "Audiowide", sans-serif;
    margin-top: 30px;
}
main .section1 nav{
    margin-top: 50px;
}
main .section1 a{
    color: white;
    /* border: 1px solid grey; */
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    padding: 10px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.155);
    backdrop-filter: blur(10px);
    box-shadow: inset 4px 4px 2px grey, 4px 4px 10px black;
    margin-right: 10px;
    transition: all 0.2s ease;
}
main .section1 a:hover{
    background: rgba(255, 255, 255, 0.3);
}
main .section1 a i{
    margin-right: 7px;
}

@media (max-width: 768px) {
    header .logo{
        position: absolute;
        top: 10px;
        left: 30%;
        font-size: 1.5rem;
    }
    header nav{
        position: absolute;
        left: 0;
        top: 0px;
        backdrop-filter: blur(10px);
        border-radius: 0px;
        width: 100%;
        transform: translateY(-100%);
    }
    header nav.active{
        top: 0px;
        transform: translateY(30%);
    }
    header nav ul{
        flex-direction: column;
        align-items: self-start;
    }
    .burger{
        position: absolute;
        left: 10px;
        top: 10px;
    }

    main .section1{
        padding: 30px;
    }
    main .section1 h1{
        font-size: 2.3rem;
    }
    main .section1 a{
        padding: 10px 10px;
    }
}