@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Orbitron:wght@400..900&family=Syncopate:wght@400;700&family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: max-content;
    /* background-color: #101010; */
    background: linear-gradient(135deg, #3b0a45 0%, #6a1b9a 50%, #1a0026 100%);
}  
header{
    width: 90%;
    padding: 10px 100px;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5px;
}
header .logo{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
}
header nav{
    /* background-color: rgba(0, 0, 0, 0.267); */
    padding: 5px 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.078);
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li{
    font-family: "Audiowide", sans-serif;
    list-style-type: none;
    padding: 5px 25px;
    margin: 0px 5px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
header .settings{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.078);
    backdrop-filter: blur(10px);
    border-radius: 50%;
}
header .settings i{
    color: white;
    font-size: 1.3rem;
}
main .section1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    padding-left: 100px;
}
/* main .section1 div{
    padding: 30px;
    width: max-content;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.174);
    border-radius: 10px;
} */
main .section1 h1{
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 5px black, -4px -4px 5px black;
}
main .section1 p{
    color: white;
    font-family: "Audiowide", sans-serif;
    margin-top: 30px;
}
main .section1 nav{
    margin-top: 50px;
}
main .section1 a{
    color: white;
    /* border: 1px solid grey; */
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    padding: 10px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.155);
    backdrop-filter: blur(10px);
    box-shadow: inset 4px 4px 2px grey, 4px 4px 10px black;
    margin-right: 10px;
}
main .section1 a i{
    margin-right: 7px;
}